.sign-wrapper {margin-bottom: 5em;}
.sign-wrapper h3.title {font-size: 1.5em; margin: 2em 0; text-align: center;}
.sign-wrapper .list {margin-bottom: 1em;}
.sign-wrapper .list > .title {margin-bottom: .5em; font-size: 1.125em; color: #1a2846;}

