.title-wrapper {margin: 1.5em 0; font-size: 1em;}
.title-wrapper h2.title {font-size: 2em;}
.title-wrapper h3.title {font-size: 1.25em; color: #666; padding-left: 2.5em;}

@media screen and (max-width: 768px) {
	.title-wrapper {font-size: .625em;}
}