@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500&family=Noto+Sans+KR:wght@300;400;500&display=swap');

/* font-family: 'Sunflower', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

html, body {font-family: 'Noto Sans KR', sans-serif;}
.wrapper {max-width: 1168px; margin: auto;}
.wrapper-sm {max-width: 736px; margin: auto;}
.wrapper-xs {max-width: 544px; margin: auto;}

.jumbotron {padding: 3em 2em;}

@media screen and (max-width: 1200px) {
	.wrapper {width: calc(100% - 1em);}
}

@media screen and (max-width: 768px) {
	.wrapper-sm {width: calc(100% - 1em);}
}

@media (min-width: 576px) {
	.jumbotron {padding: 3em 2em;}
	.wrapper-xs {width: calc(100% - 1em);}
}
