.gbook-tb td > img {max-width: 32px; max-height: 32px;}
.gbook-tb tr > td:nth-child(1) {width: 10%;}
.gbook-tb tr > td:nth-child(2) {width: 18%;}
.gbook-tb tr > td:nth-child(4) {width: 50px;}
.gbook-tb tr > td:nth-child(5) {width: 20%;}
.gbook-tb tr > td:nth-child(6) {width: 15%;}

@media screen and (max-width: 768px) {
	.gbook-tb tr > :nth-child(1) {display: none;}
	.gbook-tb tr > :nth-child(5) {display: none;}
	.gbook-tb tr > :nth-child(6) {width: 120px !important;}
}