<link rel="stylesheet" href="/css/gbook/modal.css">
<div class="modal-wrapper">
	<div class="bt-close" onclick="onModalClose(this);">
		<i class="fa fa-times"></i>
	</div>
	<div class="modal-wrap">
		<img src="" alt="큰이미지">
	</div>
</div>
<script src="/js/gbook/modal.js"></script>