<link rel="stylesheet" href="/css/gbook/title.css">
<div class="jumbotron title-wrapper">
	<h2 class="title">
		<i class="fa fa-paper-plane mr-2"></i>
		<%- pageTitle %>
	</h2>
	<hr>
	<h3 class="title"><%- pageDesc %></h3>
</div>